:root {
    --bg-color:var(--bg-color) #101113;
    --text-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;

}

body {
   background-color: #101113; 
   color: var(--text-color);
   background-image: url(imagens/xc40fundo.png);
   background-size: cover;
  
  
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10;
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
    font-family: 'Russo One';
    font-style: normal;
}

.menu li{
    display: inline-block;
    margin: 0 5px;

}

.menu li a {
    font-size: 20px;
    
    margin-right: 40px;
}

.logo-imagem{
    padding: 0 50px;
    
}

.body{
    background-image: url(imagens/fundo\ pagina\ inicial.png);
    background-size: cover;
    position:relative
    
}

img{
    position: relative;
}



.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
   
    margin-left: auto;
    margin-right: auto;
}

.home-text h1{
font-size: var(--h1-font);
line-height: 1.5;
margin-bottom: 2px;
text-align: center;
margin-left: -10cm;
margin-top: 1cm ;

}


.home-text h3{
    line-height: 1.5;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
    margin-left: 4cm;
    
}

.home-img img{
    position: absolute;
    max-width: 100%;
    width: 70rem;
    height: auto;
    
    align-items: center;
    top: 1cm;
    left: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fundo {
    position: static;
    width: 100%;
    height: auto;
    top: 1%;
          
   }

   table,th,tr  {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
    position: relative;
    margin-left: 10%;
    margin-top: -1cm ;
    text-align: center;
    line-height: 1.7;
    opacity: 0.9;
    background-color: rgb(0,0, 0, 0.9);
    padding: 5px;
    border-radius: 20px;
    width: 40%;
  }
  table {
    border: 1px solid;
  }
  
  .rodape p {
    margin: 0;
    font-size: 14px;
    color: #888;
}
.rodape {
        background-color: black;
        padding: 20px;
        text-align: center;
}


 
